<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "nl.zermelo.opensource.App"
		versionCode="10"
		version   = "1.1.4">
		<name>Zermelo</name>
		<description>Toont het schoolrooster en mededelingen van de school.</description>
		<author href="http://www.zermelo.nl" email="info@zermelo.nl">Zermelo Software B.V.</author>
		<!-- preference name='phonegap-version' value='cli-5.1.1' / -->
		<preference name="phonegap-version" value="3.7.0" />

		<preference name="orientation" value="portrait" />
		<preference name="autorotate" value="false" readonly="true"/> <!-- Lock screen rotation on Android -->
		<preference name="fullscreen" value="false" />

		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="black-opaque" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="10" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0xFFFFFFFF"/> <!-- F0F0F0 would be the real color but it's darkened by the loading dialog -->
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<!-- preference name="LoadingDialog" value="Zermelo,"/ --> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/file"/>
		<!-- gap:plugin name="org.apache.cordova.network-information"  / -->

		<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" /> <!-- Fix statusbar on iOS -->
		<preference name="StatusBarOverlaysWebView" value="false" />

		<gap:splash src="resources/screens/screen-iphone-portrait-2x.png" gap:platform="android" gap:density="ldpi"/>
		
		<!-- Stupid Apple -->
		<gap:splash src="resources/screens/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
		<gap:splash src="resources/screens/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
		<gap:splash src="resources/screens/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
		<gap:splash src="resources/screens/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
		<gap:splash src="resources/screens/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />

		<access origin="*.zportal.nl" />

		<!-- Icons to make Apples Application Loader happy -->
		<icon src="resources/icons/57.png" width="57" height="57" />
		<icon src="resources/icons/72.png" width="72" height="72" />
		<icon src="resources/icons/114.png" width="114" height="114" />
		<icon src="resources/icons/144.png" width="144" height="144" />

		<gap:plugin name="com.badrit.backbutton" version="0.1.0" />
	</widget>
